- content_for :title do
	See How NeverFold Works

- content_for :body do

	%p
		NeverFold is a time-saving closet solution composed of two adjustable rods that allow you to drape clothing rather than folding it, resulting in less wrinkles and more closet space.

	%center
		<iframe src="http://player.vimeo.com/video/61737556" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>