
- content_for :body do

	NeverFold is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	%br
	%br

	%h3 Digital Media

	Images and videos of the NeverFold products are available for press and media use.

	%br
	%br

	[img]
	%br
	[img]
	%br
	[img]
	%br
	[img]
	%br
	[img]
	%br
	[img]
	%br
	%br

	%b NeverFold Introductory Video
	%br
	[youtube link]

	%br
	%br

	%b Quick Video on how NeverFold works
	%br
	[youtube link]

	%br
	%br

	%h3 Press and Media Contact

	We'd love to answer any questions that you may have at 
	%a{href:"malito:media@neverfold.com", class:"blue"} media@neverfold.com




