- content_for :title do
	Generic Refund Policy

- content_for :body do

	%p We accept refunds and exchanges.

	%p.bold Returns
	%p Our policy lasts 30 days after your product has shipped. If 30 days have gone by, unfortunately we can’t offer you a refund or exchange.
	%p To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
	%p To complete your return, we require a receipt or proof of purchase.
	%p
		There are certain situations where only partial refunds are granted:
		%br/
		&dash; Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
		%br/
		&dash; Any item that is returned more than 30 days after delivery.

	%p.bold Refunds
	%p Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.
	%p If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days.

	%p.bold Late or missing refunds
	%p If you haven’t received a refund yet, first check your bank account again.
	%p
		Then contact your credit card company, it may take some time before your refund is officially posted. Next contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund yet,
		please contact us at
		= contact_us_link "NeverFold Support"

	- if false
		%p.bold Sale items
		%p Only regular priced items may be refunded, unfortunately sale items cannot be refunded.

	%p.bold Exchanges
	%p
		We only replace items if they are defective or damaged. If you need to exchange it for the same item, contact us at
		= contact_us_link "NeverFold Support"
		and we'll provide refund instructions.

	- if false
		%p.bold Gifts
		%p If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.
		%p If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will found out about your return.

	%p.bold Shipping
	%p
		To return your product, please contact us at
		= contact_us_link "NeverFold Support"
		for the nearest return address in your part of the world.
	%p
		You will be responsible for paying for your own shipping costs for returning your item.
		Shipping costs are non-refundable.
		If you receive a refund, the cost of return shipping will be deducted from your refund.

	%p Depending on where you live, the time it may take for your exchanged product to reach you, may vary.
	%p If you are shipping an item over $75, you should consider using a trackable shipping service or purchasing shipping insurance. We don’t guarantee that we will receive your returned item.

