- content_for :title do
	Terms of Use

- content_for :body do

	%p Please read these Terms of Use (the "Agreement" or "Terms of Use") carefully before using the services offered by NeverFold (“NeverFold” or the “Company”). This Agreement sets forth the legally binding terms and conditions for your use of the website at www.neverfold.com, all other sites owned and operated by NeverFold that redirect to www.neverfold.com, and all subdomains (collectively, the “Site”), and the service owned and operated by the Company (together with the Site, the “Service”). By using the Service in any manner, including, but not limited to, visiting or browsing the Site or contributing content, information, or other materials or services to the Site, you agree to be bound by this Agreement.

	%p.bold Summary of Service

	%p NeverFold is a crowdfunding platform running a campaign by offering rewards to raise money from other users (“Backers”). Through the Site, email, websites, and other media, the Service makes accessible various content, including, but not limited to, videos, photographs, images, artwork, graphics, audio clips, comments, data, text, software, scripts, projects, other material and information, and associated trademarks and copyrightable works (collectively, “Content”). NeverFold, Backers, and other visitors to and users of the Service (collectively, “Users”) may have the ability to contribute, add, create, upload, submit, distribute, facilitate the distribution of, collect, post, or otherwise make accessible ("Submit") Content. “User Submissions” means any Content Submitted by Users.

	%p.bold Acceptance of Terms

	%p The Service is offered subject to acceptance of all of the terms and conditions contained in these Terms of Use, including the Privacy Policy available at http://www.neverfold.com/privacy, and all other operating rules, policies, and procedures that may be published on the Site by the Company, which are incorporated by reference. These Terms of Use apply to every user of the Service. In addition, some services offered through the Service may be subject to additional terms and conditions adopted by the Company. Your use of those services is subject to those additional terms and conditions, which are incorporated into these Terms of Use by this reference.

	%p The Company reserves the right, at its sole discretion, to modify or replace these Terms of Use by posting the updated terms on the Site. It is your responsibility to check the Terms of Use periodically for changes. Your continued use of the Service following the posting of any changes to the Terms of Use constitutes acceptance of those changes.

	%p The Company reserves the right to change, suspend, or discontinue the Service (including, but not limited to, the availability of any feature, database, or Content) at any time for any reason. The Company may also impose limits on certain features and services or restrict your access to parts or all of the Service without notice or liability.

	%p The Service is available only to individuals who are at least 18 years old (and at least the legal age in your jurisdiction). You represent and warrant that if you are an individual, you are at least 18 years old and of legal age in your jurisdiction to form a binding contract, and that all registration information you submit is accurate and truthful. The Company reserves the right to ask for proof of age from you and your account may be suspended until satisfactory proof of age is provided. The Company may, in its sole discretion, refuse to offer the Service to any person or entity and change its eligibility criteria at any time. This provision is void where prohibited by law and the right to access the Service is revoked in those jurisdictions.

	%p.bold Rules and Conduct

	%p As a condition of use, you promise not to use the Service for any purpose that is prohibited by the Terms of Use or law. The Service is provided only for your own personal, non-commercial use. You are responsible for all of your activity in connection with the Service. You shall not, and shall not permit any third party using your account to, take any action, or Submit Content, that:

	%ul
		%li infringes any patent, trademark, trade secret, copyright, right of publicity, or other right of any other person or entity, or violates any law or contract;
		%li you know is false, misleading, or inaccurate;
		%li is unlawful, threatening, abusive, harassing, defamatory, libelous, deceptive, fraudulent, tortious, obscene, offensive, profane, or invasive of another's privacy;
		%li constitutes unsolicited or unauthorized advertising or promotional material or any junk mail, spam, or chain letters;
		%li contains software viruses or any other computer codes, files, or programs that are designed or intended to disrupt, damage, limit, or interfere with the proper function of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any system, data, password, or other information of the Company or any third party;
		%li is made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence; or
		%li impersonates any person or entity, including any employee or representative of the Company.

	%p Additionally, you shall not: (i) take any action that imposes or may impose (as determined by the Company in its sole discretion) an unreasonable or disproportionately large load on the Company’s or its third-party providers’ infrastructure; (ii) interfere or attempt to interfere with the proper working of the Service or any activities conducted on the Service; (iii) bypass any measures the Company may use to prevent or restrict access to the Service (or other accounts, computer systems, or networks connected to the Service); (iv) run Maillist, Listserv, or any form of auto-responder or "spam" on the Service; or (v) use manual or automated software, devices, or other processes to "crawl" or "spider" any page of the Site.

	%p You shall not directly or indirectly: (i) decipher, decompile, disassemble, reverse engineer, or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Service, except to the extent applicable laws specifically prohibit such restriction; (ii) modify, translate, or otherwise create derivative works of any part of the Service; or (iii) copy, rent, lease, distribute, or otherwise transfer any of the rights that you receive hereunder. You shall abide by all applicable local, state, national, and international laws and regulations.

	%p.bold Registration

	%p You may view Content on the Site without registering, but as a condition of using certain aspects of the Service, you may be required to register with the Company and select a screen name ("User ID") and password. You shall provide accurate, complete, and updated registration information. Failure to do so shall constitute a breach of the Terms of Use, which may result in immediate termination of your account. You shall not use as a User ID, domain name, or project name any name or term that (i) is the name of another person, with the intent to impersonate that person; (ii) is subject to any rights of another person, without appropriate authorization; or (iii) is offensive, vulgar, or obscene. The Company reserves the right in its sole discretion to refuse registration of or cancel a User ID, domain name, and project name. You are solely responsible for activity that occurs on your account and shall be responsible for maintaining the confidentiality of your password for the Site. You shall never use another User account without the other User’s express permission. You will immediately notify the Company in writing of any unauthorized use of your account, or other known account-related security breach.

	%p.bold Fees and Payments

	%p Joining NeverFold is free. Funds pledged by Backers are collected by Stripe. NeverFold is not responsible for the performance of Stripe.

	%p.bold Third-Party Sites

	%p The Service may permit you to link to other websites or resources on the internet, and other websites or resources may contain links to the Site. When you access third-party websites, you do so at your own risk. Those other websites are not under the Company's control, and you acknowledge that the Company is not liable for the content, functions, accuracy, legality, appropriateness, or any other aspect of those other websites or resources. The inclusion on another website of any link to the Site does not imply endorsement by or affiliation with the Company. You further acknowledge and agree that the Company shall not be liable for any damage related to the use of any content, goods, or services available through any third-party website or resource.

	%p.bold Content and License

	%p You agree that the Service contains Content provided by the Company and its partners and Users and that the Content may be protected by copyrights, trademarks, service marks, patents, trade secrets, or other rights and laws. You shall abide by and maintain all copyright and other legal notices, information, and restrictions contained in any Content accessed through the Service.

	%p The Company grants to each User of the Service a worldwide, non-exclusive, non-sublicensable and non-transferable license to use and reproduce the Content, solely for personal, non-commercial use. Use, reproduction, modification, distribution, or storage of any Content for other than personal, non-commercial use is prohibited without prior written permission from the Company, or from the copyright holder. You shall not sell, license, rent, or otherwise use or exploit any Content for commercial use or in any way that violates any third-party right.

	%p.bold Termination

	%p The Company may terminate your access to the Service, without cause or notice, which may result in the forfeiture and destruction of all information associated with your account. If you wish to terminate your account, you may do so by following the instructions on the Site. All provisions of the Terms of Use that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.

	%p.bold Warranty Disclaimer

	%p The Company has no special relationship with or fiduciary duty to you. You acknowledge that the Company has no duty to take any action regarding any of the following: which Users gain access to the Site; what Content Users access through the Site; what effects the Content may have on Users; how Users may interpret or use the Content; or what actions Users may take as a result of having been exposed to the Content. The Company cannot guarantee the authenticity of any data or information that Users provide about themselves or their campaigns and projects. You release the Company from all liability for your having acquired or not acquired Content through the Site. The Site may contain, or direct you to websites containing, information that some people may find offensive or inappropriate. The Company makes no representations concerning any Content on the Site, and the Company is not liable for the accuracy, copyright compliance, legality, or decency of material contained on the Service.

	%p The Company does not guarantee that any Content will be made available through the Service. The Company has no obligation to monitor the Service or Content. The Company reserves the right to, at any time, for any reason, and without notice: (i) cancel, reject, interrupt, remove, or suspend a campaign or project; (ii) remove, edit, or modify any Content, including, but not limited to, any User Submission; and (iii) remove or block any User or User Submission. NeverFold reserves the right not to comment on the reasons for any of these actions.

	%p The Service is provided “as is” and “as available” and is without warranty of any kind, express or implied, including, but not limited to, the implied warranties of title, non-infringement, merchantability, and fitness for a particular purpose, and any warranties implied by any course of performance or usage of trade, all of which are expressly disclaimed. The Company, and its directors, employees, agents, suppliers, partners, and content providers do not warrant that: (a) the Service will be secure or available at any particular time or location; (b) any defects or errors will be corrected; (c) any content or software available at or through the Service is free of viruses or other harmful components; or (d) the results of using the Service will meet your requirements. Your use of the Service is solely at your own risk. Some states or countries do not allow limitations on how long an implied warranty lasts, so the above limitations may not apply to you.

	%p The Company makes no guaranty of confidentiality or privacy of any communication or information transmitted on the Site or any website linked to the Site. The Company will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on the Company’s equipment, transmitted over networks accessed by the Site, or otherwise connected with your use of the Service.

	%p Electronic Communications Privacy Act Notice (18 USC §2701-2711): THE COMPANY MAKES NO GUARANTY OF CONFIDENTIALITY OR PRIVACY OF ANY COMMUNICATION OR INFORMATION TRANSMITTED ON THE SITE OR ANY WEBSITE LINKED TO THE SITE. The Company will not be liable for the privacy of email addresses, registration and identification information, disk space, communications, confidential or trade-secret information, or any other Content stored on the Company’s equipment, transmitted over networks accessed by the Site, or otherwise connected with your use of the Service.

	%p.bold Indemnification

	%p You shall defend, indemnify, and hold harmless the Company, its affiliates, and each of its and its affiliates’ employees, contractors, directors, suppliers, and representatives from all liabilities, claims, and expenses, including reasonable attorneys' fees and other legal costs, that arise from or relate to your use or misuse of, or access to, the Service and Content, or otherwise from your User Submissions, violation of the Terms of Use, or infringement by you, or any third party using your account, of any intellectual property or other right of any person or entity. The Company reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with the Company in asserting any available defenses.

	%p.bold Limitation of Liability

	%p In no event shall the Company, nor its directors, employees, agents, partners, suppliers, or content providers, be liable under contract, tort, strict liability, negligence, or any other legal or equitable theory with respect to the service (i) for any lost profits, data loss, cost of procurement of substitute goods or services, or special, indirect, incidental, punitive, or consequential damages of any kind whatsoever, substitute goods or services (however arising), (ii) for any bugs, viruses, trojan horses, or the like (regardless of the source of origination), or (iii) for any direct damages in excess of (in the aggregate) one hundred U.S. dollars ($100.00). some states or countries do not allow the exclusion or limitation of incidental or consequential damages, so the above limitations and exclusions may not apply to you.

	%p.bold International

	%p Accessing the Service is prohibited from territories where the Content is illegal. If you access the Service from other locations, you do so at your own initiative and are responsible for compliance with local laws.

	%p Electronic Delivery, Notice Policy, and Your Consent

	%p By using the Services, you consent to receive from NeverFold all communications including notices, agreements, legally required disclosures, or other information in connection with the Services (collectively, "Contract Notices") electronically. NeverFold may provide the electronic Contract Notices by posting them on the Site. If you desire to withdraw your consent to receive Contract Notices electronically, you must discontinue your use of the Services.

	%p.bold Governing Law

	%p These Terms of Service (and any further rules, policies, or guidelines incorporated by reference) shall be governed by and construed in accordance with the laws of the State of New York and the United States, without giving effect to any principles of conflicts of law, and without application of the Uniform Computer Information Transaction Act or the United Nations Convention of Controls for International Sale of Goods. You agree that the Company and its Services are deemed a passive website that does not give rise to personal jurisdiction over NeverFold or its parents, subsidiaries, affiliates, successors, assigns, employees, agents, directors, officers or shareholders, either specific or general, in any jurisdiction other than the State of California. You agree that any action at law or in equity arising out of or relating to these terms, or your use or non-use of the Services, shall be filed only in the state or federal courts located in Alameda County in the State of California and you hereby consent and submit to the personal jurisdiction of such courts for the purposes of litigating any such action. You hereby irrevocably waive any right you may have to trial by jury in any dispute, action, or proceeding.

	%p.bold Integration and Severability

	%p These Terms of Use and other referenced material are the entire agreement between you and the Company with respect to the Service, and supersede all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and the Company with respect to the Service and govern the future relationship. If any provision of the Terms of Use is found to be unenforceable or invalid, that provision will be limited or eliminated to the minimum extent necessary so that the Terms of Use will otherwise remain in full force and effect and enforceable. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder.

	%p.bold Miscellaneous

	%p The Company shall not be liable for any failure to perform its obligations hereunder where the failure results from any cause beyond the Company’s reasonable control, including, without limitation, mechanical, electronic, or communications failure or degradation. The Terms of Use are personal to you, and are not assignable, transferable, or sublicensable by you except with the Company's prior written consent. The Company may assign, transfer, or delegate any of its rights and obligations hereunder without consent. No agency, partnership, joint venture, or employment relationship is created as a result of the Terms of Use and neither party has any authority of any kind to bind the other in any respect. In any action or proceeding to enforce rights under the Terms of Use, the prevailing party will be entitled to recover costs and attorneys' fees. All notices under the Terms of Use will be in writing and will be deemed to have been duly given when received, if personally delivered or sent by certified or registered mail, return receipt requested; when receipt is electronically confirmed, if transmitted by facsimile or e-mail; or the day after it is sent, if sent for next day delivery by recognized overnight delivery service.

	%p Updated: February 2013
