- content_for :title do
	About

- content_for :body do

	%p.statement
		The invention of washing machines saved entire days of scrubbing with washboards.
		Yet we still fold the clothes the same old slow and painful way.
		NeverFold is revolutionizing how we ‘fold’ our clothes!

	%p.bold Tell me how NeverFold works?
	%p
		NeverFold is a time-saving closet solution composed of two adjustable rods that allow you to drape clothing rather than folding it, resulting in less wrinkles and more closet space.
	%p
		Nothing beats a visual example so check out this
		= link_to 'very brief video', '/how_it_works'
		on how you can make folding obsolete!

	%p.bold What's the big picture?
	%p
		The bottom line is: NeverFold gives you extra hours in your lazy Sundays to spend time with your family, work on your next big thing, or just to lay around.

	%p.bold How is this different from other closet products?
	%p
		NeverFold is an one-of-a-kind closet solution. There is nothing out there like it.
		NeverFold was engineered as a time-saving feature to your closet.
		It's designed to add to your closet without having to replace anything.
		It can also be a stand-alone feature in your bedroom, laundry room, or any other place you store your clothes.

	%p.bold Can NeverFold be used outside the closet?
	%p
		Since NeverFold is made out of elegant caramelized bamboo, its aesthetics will look great outside of your closet.
		How about the garage for your sporting and dancing outfits, next to a baby crib for quick access to baby outfits,
		or even on your bedroom’s wall for the naked eye to appreciate.

	%p.bold Is it a great conversation starter?
	%p
		Without a doubt, yes! The next time you host a party, demonstrate how NeverFold works and you might
		be next in line to win a Nobel prize for convenience! In my experience, NeverFold has never ceased
		to make them friends smile and they always want one for themselves!

	%p.bold What's the funding status of the company?
	%p
		A
		= link_to "crowd-funding campaign", "/welcome"
		is the first thing NeverFold is doing by allowing people to pre-order their very own NeverFold. If we succeed the funding goal,
		we will start manufacturing NeverFold and have them ready to ship by late summer.

	%p.bold Many have wondered why I chose to go with a crowd-sourcing funding approach. Why do I need to raise $100,000 before manufacturing NeverFold?
	%p
		$100,000 is the magical number to keep NeverFold affordable and have it manufactured in the United States.
		NeverFold comes with a custom-made non-slip surface and snap-on rods designed by Paul Carlson, a Deaf industrial designer.
		A customized mold and an U.S. based factory will be needed to produce those parts.
		Rather than seek investors for those manufacturing costs, I am reaching out to the community for pre-orders and
		small investments to make NeverFold a reality.

	%p.bold Who is behind NeverFold?
	%p
		Chad Taylor, born Deaf and an American Sign Language user, is the inventor and founder of NeverFold.
		He is backed by a small team of Deaf experts working to deliver the product to your doorstep!

	%p
		He currently makes a living as a web developer in San Francisco.
		He is blessed to be surrounded by a wife and two little boys, all also Deaf.

	%p.bold Alright, can I have your logo and pictures?
	%p
		Definitely, they're available on our
		= "#{link_to "Press &amp; Media page".html_safe, "/press_media"}.".html_safe
