
- content_for :body do

	%h2 Your Account

	= form_tag("/reserve/email_submit", remote:true) do

		.group.first.clearfix
			.label

				.notes
					%br

			.contents

				.row
					.label Email Address
					= text_field_tag "email", "neverfold@chadwtaylor.com"
					%br
					%br
					.label
						%i Absolutely no spam. Scout's honor.

		.group.clearfix
			.contents
				.button.submit Continue to next step