- content_for :title do
	Conversation-starter Tee

- content_for :body do

	= form_tag("/reserve/tshirt_submit", remote:true) do

		= hidden_field_tag :tshirt_size

		.group.first.clearfix
			.label
				Your size

			.contents

				.gender.first
					.title Women
					.sizes
						.size{"data-size"=>"W-S"} S
						.size{"data-size"=>"W-M"} M
						.size{"data-size"=>"W-L"} L
						.size{"data-size"=>"W-XL"} XL
						.size{"data-size"=>"W-XXL"} XXL

				.gender 
					.title Men
					.sizes
						.size{"data-size"=>"M-S"} S
						.size{"data-size"=>"M-M"} M
						.size{"data-size"=>"M-L"} L
						.size{"data-size"=>"M-XL"} XL
						.size{"data-size"=>"M-XXL"} XXL


