%header
	%section.clearfix

		%a{href:"/"}
			.logo

		%nav.clearfix
			%a{href:"/about"}
				.link About
			%a{href:"/faq"}
				.link FAQ
			%a{href:"#{ENV['BLOG']}"}
				.link Blog
			%a{href:"/press_media"}
				.link Press &amp; Media
			%a{href:"/reserve"}
				.button Pre-Order Now
